.AdvisoryGroup
{
    color: orange;
    display: flex;
    justify-content:space-around;
}
.AdvisoryTextField
{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}