@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
.AdvisoryGroup
{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    justify-content:space-between;
    background-image: url("../../public/images/AdvBackGTop.svg"),  url("../../public/images/AdvBackGBot.svg");
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: top left, 80% 100%;
    font-family: Nunito Sans;
    color: #333333;
    font-size: 18px;
    padding-bottom: 70px;
}
.AdvisoryGroup:before
{
    position: absolute;
    content: "";
    background-color: #FFC702 ; /*#FFC702*/
    top: 100px;
    height: 80%;
    width: 100%;
    z-index: -99;
}
.AdvisoryLeftContent
{
    padding-left: 86px;
    margin-bottom: 20px;
    width: 50%;
    position: relative;
    top:0;
    left:0;
}
.AdvisotyGroup > *
{
    flex-basis: 100%;
}
.AdvisoryTextFieldGroup
{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50% 50% 50%;
}
.AdvisoryFooter
{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.AdvisoryButton
{
    height: 60px;
    width: 170px;
    border-radius: 40px;
    background-color: #333333;
    border-color: #333333;

    border: 0;
    color: #FFC702;
    box-shadow: none;
    font-size: 18px;
}
.AdvisoryBackground
{
    position: absolute;
    z-index: 0;
}
.AdvisoryContent
{
    z-index: 1;
}
.AdvisoryHeader
{
    padding-top: 2em;
    background-image: url("../../public/images/Adv_headerBee.svg");
    background-repeat: no-repeat;
    background-position: 260px 80px; 
    font-size: 50px;
    padding-bottom: 10px;
}
/* .AdvisorySmallBeeParent
{
    positon: relative;
    margin-top: 0px;
    margin-left: 0px;  
}
.AdvisoryBee
{
    position:absolute;
    margin-bottom: -30px;
} */
.AdvisoryTextArea
{
   resize: none;
   border-color: #333333;
   background-color: initial;
   width: 100%;
}
.AdvisoryTextField
{
    border-width: thin;
    border-style: solid;
    border-color: #333333;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: initial;
    font-size: 20px;
    width: 80%;
}
.AdvisoryDes
{
    margin-bottom: 10px;
}
.AdvisoryMainImage
{
    width: 100%;
    padding-left: 5px;

}
@media screen and (max-width: 1030px) 
{
    .AdvisoryHeader
    {
    background-image: none; 
    }
    .AdvisoryLeftContent
    {
    padding-left: 42px;
    }
    .AdvisoryTextFieldGroup
    {
    grid-template-columns: 80%;
    grid-template-rows: 30% 30% 30% 30% 30% 30% 30% 30% ;
    }
    .AdvisoryTextField
    {
        margin-bottom: 0px;
    }
    .AdvisoryDes
    {
        margin-top: 25px;
    }
}
 @media screen and (max-width: 490px)
{
    .AdvisoryGroup:before
    {
        top: 100px;
        height: 90%;
    }
}/*
@media screen and (max-width: 600px)
{
    .AdvisoryGroup:before
    {
        top: 100px;
        height: 1000px;
    }
}
@media screen and (max-width: 490px)
{
    .AdvisoryGroup:before
    {
        top: 100px;
        height: 1200px;
    }
} */