.CTABackground {
  position: relative;
  top: 0;
  left: 0;
}

.CTAIcon {
  display: flex;
  width: 95.5px;
  height: 102.5px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 80px;
  z-index: 0;
}

.CTA {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 653.5px;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.CTAH1 {
  z-index: 2;
  font-size: 36px;
  color: #ff9900;
  margin-bottom: 0;
}

.CTAP {
  font-size: 19px;
  margin-top: 30.5px;
  margin-bottom: 22px;
  line-height: 24px;
  color: #6d6d6d;
  padding-left: 50px;
  padding-right: 50px;
}

.CTAButtons {
  display: flex;
}

.CTAContactButton {
  background-image: linear-gradient(to right, #ff8400 30%, #ffef00 100%);
  color: white;
  margin-right: 10px;
  border-radius: 30px;
  border: 0;
  font-size: 16px;
  padding: 17px 26px;
}

.CTAContactButton:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #ffef00 40%, #ff8400 100%);
  transition-duration: 2s;
}

.CTADetailButton {
  background-color: white;
  color: #ff8400;
  border-color: #ff9900;
  border-style: solid;
  border-radius: 30px;
  font-size: 16px;
  padding: 17px 26px;
}

.CTADetailButton:hover {
  background-color: #ff9900;
  color: white;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

@media screen and (max-width: 700px) {
  .CTA {
    width: auto;
  }
  .CTAButtons {
    flex-direction: column;
    align-items: center;
  }
  .CTADetailButton {
    margin-top: 20px;
  }
  .CTAH1 {
    font-size: 28px;
  }
  .CTAP {
    font-size: 14px;
  }
}
