.header {
  margin-top: 80px;
  display: flex;
}

.header > * {
  flex-basis: 100%;
}

.headerTextWrapper {
  padding-top: 105px;
  width: 100%;
}

.headerTopP {
  background: -webkit-linear-gradient(45deg, #ff8400 0%, #ffef00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 76px;
  font-size: 17px;
  margin-bottom: 0;
  margin-top: 0px;
}

.headerH1 {
  font-size: 55px;
  line-height: 68px;
  margin: 0;
}

.headerBottomP {
  font-size: 17px;
  line-height: 24px;
}

.headerImage {
}

.quotelow {
  line-height: 24px;
  font-size: 14.5px;
  margin-bottom: 14px;
  margin-top: 0;
}

.headerButton {
  cursor: pointer;
  background-image: linear-gradient(to right, #ff8400 30%, #ffef00 100%);
  font-size: 14px;
  color: white;
  border: 0;
  border-radius: 30px;
  padding: 14.5px 45.5px;
  margin: auto;
}

.span {
  color: #ffd235;
}

@media screen and (max-width: 1350px) {
  .header {
    flex-direction: column;
  }
}
@media screen and (max-width: 1000px) {
  .h1 {
    font-size: 35px;
  }
  .quotehigh {
    font-size: 15px;
  }
  .quotelow {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .h1 {
    font-size: 25px;
  }
  .quotelow {
    font-size: 12px;
  }
  .btn {
    padding: 13px 42px;
  }
}
