.header {
  margin-top: 80px;
  display: flex;
}

.header > * {
  flex-basis: 100%;
}

.headerTextWrapper {
  padding-top: 105px;
  width: 100%;
  flex-wrap: wrap;
}

.headerTopP {
  background: -webkit-linear-gradient(45deg, #ff8400 0%, #ffef00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 76px;
  font-size: 17px;
  margin-bottom: 0;
  margin-top: 0px;
}

.headerH1 {
  font-size: 51px;
  line-height: 68px;
  margin: 0;
  width: 100%;
}

.headerBottomP {
  font-size: 17px;
  line-height: 24px;
  padding-bottom: 16px;
}

.headerButton {
  cursor: pointer;
  background-image: linear-gradient(to right, #ff8400 30%, #ffef00 100%);
  font-size: 16px;
  line-height: 22px;
  color: white;
  border: 0;
  border-radius: 30px;
  padding: 17px 53px;
  margin: auto;
}

.headerImage {
  width: 100%;
}

.span {
  color: #ffd235;
}
@media screen and (max-width: 1260px) {
  .header {
    flex-direction: column;
    padding-left: 15px;
  }
  .headerTextWrapper {
    padding-top: 20px;
    padding-left: 100px;
  }
  .headerBottomP {
    width: 70%;
  }
  .headerImage {
    margin-top: -50px;
  }
}

@media screen and (max-width: 1000px) {
  .headerBottomP {
    width: 90%;
  }
}

@media screen and (max-width: 850px) {
  .headerTextWrapper {
    padding-left: 60px;
  }
}

@media screen and (max-width: 750px) {
  .headerTextWrapper {
    padding-left: 40px;
  }
  .headerTopP {
    line-height: 76px;
    font-size: 15px;
  }

  .headerH1 {
    font-size: 42px;
    line-height: 50px;
  }

  .headerBottomP {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 7px;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .headerTextWrapper {
    padding-left: 20px;
  }

  .headerH1 {
    font-size: 35px;
    line-height: 40px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    margin-top: 0;
  }
  .headerTextWrapper {
    padding-top: 80px;
    padding-left: 0px;
  }

  .headerTopP {
    line-height: 76px;
    font-size: 14px;
  }

  .headerH1 {
    font-size: 25px;
    line-height: 33px;
  }

  .headerBottomP {
    font-size: 15px;
  }
  .headerButton {
    font-size: 15px;
    padding: 12.5px 29px;
  }
}
