@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

.pricingallElements{
    font-family: Nunito Sans;
}
/* .btn{
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: 15cm;
}
.btnback{
    font-size: 60px;
    color: #ff9900;
    margin-left: 2%;
}
.btnnext{
    position: relative;
    font-size: 60px;
    color: #FF9900;
    margin-left: 900%;
} */
.sectionTitle{
    display: block;
    width: 247px;
    height: 136.21px;
    margin: auto;
    padding-top: 80px;
}
.title{
    color: #343434;
    height: 70px;
    width: 100%;
    margin-top: 20px;
    z-index: 1;
}
.title h1{
    position: absolute;
    margin-top: 1px;
    font-size: 48px;
}
.logoTitle{
    display: block;
    margin-top: -120px;
    margin-left: 80px;
    width: 110.26px;
    height: 136.21px;
    z-index: -1;
}
.logo{
    z-index: -999;
}
.sectionbody{
    overflow: auto;
    margin: 80px;
    display: flex;
    justify-content: space-around;
}
.sectionbody h1{
    color: #FF9900;
    text-align: center;
}
.sectionbody button{
    border: 1px #FF9900 solid;
    border-radius: 50px;
    padding: 20px 40px 20px 40px;
    background-color: white;
    margin: 10px 40px;
    color: #FF9900;
}
.sectionbody div{
    border: 1px #EDEDED solid;
    height: 759px;
    width: 256px;
    border-radius: 8px;
    padding: 29px, 18px, 40px, 18px;
    justify-content: space-between;

}
.sectionbody li {
    list-style: none;
    margin: 10px 10px;
    margin-left: -10px;
    font-size: 15px;
    font-weight: 400;
}
.divoneli b {
    font-weight: 700;
}
li .imgvector{
    margin-right: 20px;
}
#divorange {
    background:linear-gradient(0deg, #FD5900 0%, #FFDE00 100%);
    ;
    border: none;
}
#divorange h1 {
    color: #FFFF;
}
#divorange button {
    color:white;
    background-color: inherit;
}
#divorange li {
    color:#FFFF;
}
#divorange a{
    color: white;
}
#divorange .img{
    margin: 30px 0px;
}
.Footerimg{
  margin-left: 10px;
  margin-bottom: -3px;
}
.divbody {
    position: relative;
    left: 10.5%;
    margin: 0px 5px;
}
.divbody button{
    color: #3a3a3a;
}
.divbody button b{
    font-size: 20px;
    font-weight: 700;
}
.divbody button{
    font-size: 16px;
    font-weight: 400;
}
.divbody a {
    position: absolute;
    bottom: 20px;
    right: 85px;
}
.footerbody{
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
}
.footerbody a{
    color: #FF9900;
}
.sectionbody button:hover{
    color: white;
    background-color: #FF9900;
}
.divbody:hover{
    border: 2px #FF9900 solid;
}
.divbody a:hover{
    color: #FF9900;
    border-bottom: 1px #FF9900 solid ;
}
#divorange a:hover{
     border-bottom: 1px white solid;
}
.footerbody a:hover {
    border-bottom: 1px #FF9900 solid;
    
}
@media ( max-width: 1200px) {
    .sectionbody
    {    
        justify-content: space-around;


    }
    .divbody{
        margin: 20px;
    }

}
@media (max-width: 1239px) {
    .btnnext{
        margin-left: 800% ;
    }
}
@media (max-width: 1100px) {
    .btnnext{
        margin-left: 700% ;
    }
}
@media (max-width: 1000px) {
    .btnnext{
        margin-left: 600% ;
    }
}
@media (max-width: 900px) {
    .btnnext{
        margin-left: 500% ;
    }
}
@media (max-width: 800px) {
    .btnnext{
        margin-left: 400% ;
    }
}
@media (max-width: 700px) {
    .btnnext{
        margin-left: 300% ;
    }
}
 @media (max-width: 610px) {
    .btnnext{
        margin-left: 300% ;
    }
}
@media (max-width: 540px) {
    .btnnext{
        margin-left: 300% ;
    }
}

@media (max-width: 414px) {
    .btnnext{
        margin-left: 250% ;
    }
} 
@media (max-width: 414px) {
    .btnnext{
        margin-left: 240% ;
    }
} 
@media (max-width: 360px) {
    .btnnext{
        margin-left: 210% ;
    }
} 
@media (max-width: 321px) {
    .btnnext{
        margin-left: 180% ;
    }
} 