@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

.allElements{
      font-family: Nunito Sans;
}
.header{
    color: #FF9900;
    font-size: 38px;
    font-weight: 700;
}
.sectionmain {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.divtitle{
    display: flex;
}
p.imgbg{
    background-image: url("../../public/images/services-background-title.svg");
    background-repeat: no-repeat;
    width: 150px;
    height: 120px;
    margin-left: -80px;
    z-index: -1;
}
#sectionreverse{
    justify-content: space-around;
    flex-direction: row-reverse;
}

h1.title{
    color: #343434;
    font-size: 64px;
    font-weight: 700;
    margin-left: 6.5%;
    font-style: normal;
}
.divone li{
    list-style: none;
    margin-left: -35px;
    font-size: 21px;
    font-weight: 400;
    color: #535353;
    font-style: normal;
}
li .imgvector{
    margin-right: 20px;
}
.divone .divoneli{
    margin-bottom: 20px;
}
.divone.button{
    font-size: 16px;
}
.divone a{
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    border: 1px #FF9900 solid;
    border-radius: 50px;
    padding: 20px 40px 20px 40px;
    background-color: white;
    margin-top: 30px;
    color: #FF9900;
}
.divone a:hover {
    background-color: #FF9900;
    color: white;
}
.divtwo{
    margin-bottom: 50px;
    margin-left: 6.5%;
}
.divone{
    margin-bottom: 50px;
    margin-left: 6.5%;
}
@media (max-width: 1000px) {
    .allElements{
        margin: 0px 20px;
    }
    .divtwo {
        display: none;
    }
    .divone a {
         margin-left: auto;
    }
    #divtitle{
       margin: auto;
    }
    
}
@media  (max-width: 478px) {
    .divonebutton {
        margin: 0% 30%;
   }
   .divone {
       margin: 0px 30px;
   }
}
@media  (max-width: 321px) {
    h1.title{
        font-size: 55px;
    }
}


