.footerBackground {
  position: relative;
}

.span {
  color: #ff9900;
}

.footerItems {
  width: 100%;
  display: grid;
  grid-template-columns: 47.5% 28% 24.5%;
  background-color: #f4f4f4;
  height: auto;
}

.copyright {
  display: flex;
  flex-direction: column;
  margin-top: 51px;
  margin-left: 86px;
  margin-bottom: 59px;
}

.copyrighttop {
  top: 0;
}

.copyrightlogo {
  padding-bottom: 5px;
  width: 161px;
  height: 58px;
  padding: 0;
}

.copyrightSlogan {
  margin-top: 20px;
  margin-bottom: 45px;
  line-height: 26px;
  margin-right: 140px;
  font-size: 18px;
}

.copyrightbottom {
  font-size: 17px;
  margin-top: -17px;
  margin-bottom: -17px;
  line-height: 20.5px;
}

.connectUsItemWrapper {
  display: flex;
  flex-wrap: wrap;
}

.connectUsItemWrapper > div {
  margin-right: 5px;
}
.connectUsLabel {
  font-size: 21px;
  line-height: 25.5px;
  margin-top: 51px;
  margin-bottom: 20px;
  color: #ff9900;
}

.connectUsIconItems {
  display: flex;
  flex-direction: column;
  width: 20px;
  flex-wrap: wrap;
}

.connectUsIconItems > img {
  margin: 11px;
  margin-left: 0px;
}

.connectUsTextItems {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  flex-wrap: wrap;
  line-height: 21.78px;
}

.connectUsTextItems > p {
  margin-bottom: 10px;
  margin-top: 10px;
}

.linkItemWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.linkItemWrapper {
  margin: 0px;
}

.linkLabel {
  margin-left: 10px;
  font-size: 21px;
  line-height: 25.5px;
  margin-top: 51px;
  margin-bottom: 20px;
  color: #ff9900;
}

.linkItems {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 21.78px;
  flex-wrap: wrap;
}

.linkItems > a {
  margin: 9px;
}

.footerBackIcon {
  position: absolute;
  top: 107px;
  right: 135px;
}
@media screen and (max-width: 1240px) {
  .footerBackIcon {
    position: absolute;
    top: 107px;
    right: 5%;
  }
}

@media screen and (max-width: 850px) {
  .copyrightlogo {
    padding-bottom: 5px;
    width: 161px;
    height: 58px;
    padding: 0;
  }

  .copyrightSlogan {
    font-size: 15px;
    margin-right: 40px;
  }

  .copyrightbottom {
    font-size: 14px;
  }
  .linkLabel {
    font-size: 17px;
    margin-bottom: 10px;
  }

  .linkItems {
    font-size: 15px;
  }
  .connectUsLabel {
    font-size: 17px;
    margin-bottom: 10px;
  }

  .connectUsTextItems {
    font-size: 15px;
  }

  .footerBackIcon {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .copyrightlogo {
    width: 50%;
    height: auto;
  }

  .copyrightSlogan {
    font-size: 12px;
  }

  .copyrightbottom {
    font-size: 11px;
  }
  .linkItems {
    font-size: 12px;
  }
  .connectUsTextItems {
    font-size: 12px;
  }
}
