.footer {
  display: flex;
  background-color: #f4f4f4;
  width: 100%;
  height: auto;
}

.span {
  color: #ff9900;
}

.footerCopyright {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 51px;
  margin-left: 86px;
  flex-basis: 47.5%;
}

.footerCopyright p {
  margin: 0;
}

.footerCopyrightLogo {
  width: 161px;
  height: 58px;
}

.footerCopyrightSlogan {
  padding-top: 20px;
  font-size: 18px;
  line-height: 26px;
  width: 80%;
}

.footerCopyrightID {
  padding-top: 45px;
  font-size: 17px;
  line-height: 20.5px;
}

.connectUs {
  flex-basis: 28%;
  margin-top: 51px;
}

.connectUsLabel {
  font-size: 21px;
  line-height: 25.5px;
  color: #ff9900;
  margin: 0;
}

.connectUsItems {
  padding-top: 20px;
}

.connectUsItems p {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 15px;
}

.link {
  margin-top: 51px;
}

.linkLabel {
  font-size: 21px;
  line-height: 25.5px;
  color: #ff9900;
  margin: 0;
}

.linkItems {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 18px;
  padding-top: 20px;
}

.linkItems a {
  padding-bottom: 15px;
}

.footerBackgroundIcon {
  display: flex;
  position: relative;
}

@media screen and (max-width: 1240px) {
  .footerBackgroundIcon {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  .footer p {
    font-size: 16px;
  }
  .footer a {
    font-size: 16px;
  }
  .footer h1 {
    font-size: 18px;
  }
}

@media screen and (max-width: 950px) {
  .footer p {
    font-size: 13px;
  }
  .footer a {
    font-size: 13px;
  }
  .footerCopyright {
    margin-left: 50px;
    flex-basis: 40%;
  }
  .footerCopyrightSlogan {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .footer h1 {
    font-size: 15px;
  }
  .footer p {
    font-size: 14px;
  }
  .footer a {
    font-size: 14px;
  }
  .footerCopyright {
    margin-left: 30px;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    flex-direction: column;
  }
  .footerCopyright {
    align-items: center;
    margin: 0;
  }
  .connectUs {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .link {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  .footer h1 {
    font-size: 21px;
  }
}
