.navbar {
  position: fixed;
  top: 0;
  height: 80px;
  background-color: white;
  width: 100%;
  display: flex;
}

.logo {
  width: 111px;
  height: 40px;
  margin-left: 100px;
  margin-top: 40px;
}

.navWrapper {
  display: flex;
  justify-content: left;
}

.navContent {
  margin-left: 80px;
  margin-top: 57px;
}

.navContent a {
  font-size: 17px;
  padding-right: 55px;
}

.navContent img {
  position: absolute;
  top: 31px;
  left: 321px;
}

.navWrapper button {
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  width: 100%;
  color: #ffc702;
  font-size: 20px;
  margin-left: 20px;
}

.logoMobile {
  display: none;
}

.navWrapper #hidden {
  display: flex;
}

.span {
  color: #ffc702;
}

@media only screen and (max-width: 900px) {
  .navWrapper button {
    display: flex;
    align-items: center;
  }

  .navWrapper button img {
    width: 40px;
  }

  .navContent {
    display: none;
  }

  .logo {
    display: none;
  }
  .navWrapper #hidden {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    top: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    background-color: white;
    border-style: solid;
    border-color: #ffc702;
    z-index: 2;
  }

  .navWrapper #hidden a {
    line-height: 24px;
    padding: 10px;
  }

  .navWrapper #hidden img {
    display: none;
  }
  .logoMobile {
    display: flex;
    position: absolute;
    left: 85%;
    top: 25%;
  }
}
